---
import Layout from '../layouts/Layout.astro';
import RSample from '../components/ReactSample' 

---

<Layout title="My sample">
<html>
<body>

<h1 class="reactTitle">This is a react component! ⚛️</h1>

<div class="cardHolder"> 


    <RSample></RSample>
    <RSample></RSample>



</div>


</body>
</html>

</Layout>

<style>

    .reactTitle{
        text-align: center;

    }
    .cardHolder{

        display: flex;
        justify-content: center;
        flex-direction: column;
        border-color: blanchedalmond;
        border-style: solid;
        align-items: center;
        gap: 20px;

    }


</style>