.container{

    width: 700px;
    height: 400px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(239, 32, 32);

}

.left{
    width: fit-content;
    max-width: 200px;
    height: inherit;
    border-radius: 20px;
    



    background-color: bisque;

}

.cardTitle{

    margin: 10px;
    padding: 10px;
}